<%= form_for @product do |f| %>
  <div class="row">
    <div class="col">
      <h3><%= @product.name %></h3>
    </div>
    <div class="col">
      <label name="price" class="col text-right">Price: <%= @product.price %></label>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <div class="card">
        <% if @product.file.present? %>
          <%= image_tag @product.file_url, class: 'card-img-top' %>
        <% end%>
        <div class="card-body">
          <h4 class="card-title">Description:</h4>
          <%= @product.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= f.submit 'Add to Cart', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
